<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-sm-12 col-md-4">
        <img [src]="oferta.imgUrl" class="card-img" alt="...">
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{oferta.nombre}}e</h5>
          <p class="card-text">{{oferta.descripcion}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <p class="card-badges">
              <span class="badge badge-success" *ngFor="let skill of oferta.skills">{{skill}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>