<img class="imagen" src="https://okdiario.com/img/viajes/2016/12/08/ws_valley_of_the_ten_peaks_1920x1200.jpg" height="120" width="200px">
<h1 style="text-align: left; width: 200px; font-size: 30px">Title goes here</h1>
<h2 style="text-align: left; width: 200px; font-size: 20px">Subitle goes here</h2>
<p style="text-align: left; width: 200px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.';
    </p>
<input type="button" value="ACTION 1"  >
<input type="button" value="ACTION 2"  >

